<!DOCTYPE html>
<html>
    <head>
        <title>User Profiles</title>
    </head>
    <body>
        <header>
            <center>
            <h1><a href="/">UntitledApp</a></h1>
            </center>
        </header>
        
        {% for profile in profiles %}
            <article>
                <h2><a href="">{{ profile.title }}</a></h2>
                <p>Description: {{ profile.description|linebreaksbr }}</p>
                <time>Last updated: {{ profile.updated_date }}</time>
            </article>
        {% endfor %}
    </body>
</html>